<p>
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="botón menú" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Catálogo de servidores y servicios</span>
      <span class="spacer"></span>
      {{usuario.NoColaborador}} - {{usuario.Tipo}}
      <button mat-icon-button aria-label="editar usuario" [routerLink]="['editar-usuario']">
        <mat-icon>account_circle</mat-icon>
      </button>

      <button mat-icon-button aria-label="botón cerrar sesión/logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
      
      
    </mat-toolbar>
  
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="push">
        <button mat-button color="primary" [routerLink]="['servidores']">
          Catálogo de servidores
        </button>
        <mat-divider></mat-divider>
        <button mat-button color="primary" [routerLink]="['servicios']" >
          Catálogo de servicios
        </button>
        @if(visible()){
          <mat-divider></mat-divider>
          <button mat-button color="primary" [routerLink]="['usuarios']" >
            Listado de usuarios
          </button>
        }
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </p>
  