<div class="body">
    <div class="login">
      <mat-spinner class="spinner" *ngIf="cargando" diameter="50"></mat-spinner>
  
      <form [formGroup]="form" (ngSubmit)="login()" *ngIf="!cargando">
        <img src="./assets/logo.svg" style="width: 70%; margin-top: 5%" />
  
        <h1>Inicia sesión con tu número de empleado</h1>
  
        <mat-form-field class="width_input" appearance="outline">
          <mat-label>Número de empleado</mat-label>
  
          <input matInput formControlName="empleado" type="text" minlength="8" />
  
          <mat-error *ngIf="form.get('empleado')?.errors">{{ MensajeError() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="width_input" appearance="outline">
          <mat-label>Contraseña</mat-label>
  
          <input matInput formControlName="password" type="password" minlength="8" />
  
          <!-- <mat-error *ngIf="form.get('empleado')?.errors">{{ MensajeError() }}</mat-error> -->
        </mat-form-field>
  
        <button
          type="submit"
          class="width_input button_login"
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
        >
          Ingresar
        </button>
      </form>
    </div>
  </div>
  